<script>
  export let dashItem;
  import LeightonAlert from './../alert/alert.svelte';
</script>

{#if dashItem.src}
  <img alt="dashboard image" src="{dashItem.src}" />
{:else}
  <LeightonAlert alertType='error' title='src property missing' content='In the object you passed into the image component, we did not find a src property.' />
{/if}
