<script>
  export let configUrl;

  import { onMount } from 'svelte';

  import LeightonAlert from './alert/alert.svelte';
  import LeightonBitBucketDeployments from './bitbucketDeployments/bitbucketDeployments.svelte';
  import LeightonBitBucketPipelines from './bitbucketPipelines/bitbucketPipelines.svelte';
  import LeightonBitBucketPulls from './bitbucketPulls/bitbucketPulls.svelte';
  import LeightonHTML from './leightonHTML/leightonHTML.svelte';
  import LeightonImage from './leightonImage/leightonImage.svelte';

  let dashData;
	onMount(async () => {
		fetchconfig();
		setInterval(fetchconfig, 120000)
	});

	export let fetchconfig = async function() {
		//pipelinesData = [];
		let resAPI = await fetch(configUrl);
		dashData = await resAPI.json();

		console.log('🥓', dashData);
  };

</script>

{#if !configUrl}
  <div class="p-3 rounded flex flex-wrap">
    <div class="w-full px-3">
      <LeightonAlert alertType='warning' title='You must specify a configuration url' content='The dashboard cant load without a valid json file.' />
    </div>
  </div>
{:else}


  {#if dashData && dashData.containers.length > 0}
  <div class="{dashData.css}"> <!-- page -->
  	{#each dashData.containers as dashContainer} <!-- loop container -->
  		<div class="{dashContainer.css}"> <!-- container css -->
  			{#if dashContainer.items.length > 0} <!-- if there are items -->
  				{#each dashContainer.items as dashItem}
  					<div class="{dashItem.css}">

              {#if dashItem.type === 'bitbucketDeployments'}
                <LeightonBitBucketDeployments bind:dashItem={dashItem} />
              {/if}

              {#if dashItem.type === 'bitbucketPipelines'}
                <LeightonBitBucketPipelines bind:dashItem={dashItem} />
              {/if}

              {#if dashItem.type === 'bitbucketPulls'}
                <LeightonBitBucketPulls bind:dashItem={dashItem} />
              {/if}

              {#if dashItem.type === 'html'}
                <LeightonHTML bind:dashItem={dashItem} />
              {/if}

              {#if dashItem.type === 'image'}
                <LeightonImage bind:dashItem={dashItem} />
              {/if}

  					</div>
  				{/each}
  			{/if}
  		</div>
  	{/each}
  </div>
  {/if}

{/if}
