<script>
  export let dashItem;

  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  import LeightonAlert from './../alert/alert.svelte';

  let pullsData;
  let pullsDataValues = [];
  let triedpull = false;
	onMount(async () => {
    fetchpulls();
    setInterval(fetchpulls, dashItem.reloadInMs || 15000)
	});
  import moment from 'moment';

	export let fetchpulls = async function() {
    const apiUrl = dashItem.apiUrl || '';
		let resAPI = await fetch(`${apiUrl}/pulls?username=${dashItem.username}&repo_slug=${dashItem.repo_slug}`);
		pullsData = await resAPI.json();
    pullsDataValues = pullsData.data.values;
    triedpull = true;
  };

</script>

{#if pullsDataValues && pullsDataValues.length === 0 && triedpull}
  <div class="pt-3">
    <LeightonAlert alertType='success' title='There are no pull requests currently' content='Great success, now commit and push some code...' />
  </div>
{/if}

{#if pullsDataValues && pullsDataValues.length > 0}
	<div class="{dashItem.columnCSS}" in:fade out:fade>
			{#each pullsDataValues as pull}

        <!-- item content, full width -->
          <div class="{dashItem.itemCSS}">
            <div class="mb-3">
              <div class="text-gray-900 font-bold text-2xl mb-2">
              {#if pull.state === 'OPEN'}
              <span class="text-lg bg-green-400 text-white p-1 pl-2 pr-2 inline rounded-full inline-block mr-2">Open #{pull.id}</span>
              {/if}
              {pull.title}</div>

              <div class="border-b-2 border-purple-200 m-1 mt-3 mb-3"></div>

              <p class="text-gray-700 text-base">
                <span class="bg-gray-400 text-gray-800 p-1 pl-2 pr-2 inline rounded-full inline-block">
                  {pull.source.branch.name}
                </span> &#8594;
                <span class="bg-gray-400 text-gray-800 p-1 pl-2 pr-2 inline rounded-full inline-block">
                  {pull.destination.branch.name}
                </span>
              </p>
              {#if dashItem.showDescription}
              <p class="mt-3 text-gray-700 text-base md">
                {@html pull.summary.html.replace(/<br\s*\/?>/gi,' ')}
              </p>
              {/if}
            </div>
            <div class="flex items-center">
              <img class="w-10 h-10 rounded-full mr-4" src="{pull.author.links.avatar.href}" alt="Avatar of Jonathan Reinink">
              <div class="text-sm">
                <p class="text-gray-900 leading-none">{pull.author.display_name}</p>
                <p class="text-gray-600">{moment(pull.created_on).fromNow()}</p>
              </div>
            </div>
          </div>

			{/each}
	</div>
{:else}
  {#if !triedpull}
  <div class="flex justify-center">
    <div class="lds-hourglass pt-24"></div>
  </div>
  {/if}
{/if}
