/* Markdown typography  */
.md > h1,.md > h2,.md > h3,.md > h4,.md > h5,.md > h6 {margin: 0.6em 0; font-weight: normal}
.md > h1 {font-size: 1.925em; line-height: 1.2; font-weight: bold}
.md > h2 {font-size: 1.3125em; line-height: 1.2; font-weight: 600}
.md > h3 {font-size: 1.1875em;line-height: 1.24}
.md > h4 {font-size: 1.1875em;line-height: 1.23}
.md > h5,.md > h6 {font-size: 1em; font-weight:bold}
.md > table {border-collapse: collapse;border-spacing: 0}
.md > th, .md > td {text-align: left;vertical-align: top}
.md > p, .md > ul, .md > ol, .md > dl, .md > blockquote, .md > pre, .md > dialog{
    font-size:1em; /* 13px */
    line-height:1.3846em; /* 18px */
    margin:0 0 1.3846em 0;
}
.md > ol, .md > ul, .md > dd{margin-left:1.5em;}
.md > ul{list-style:disc;}
.md > li ul, .md > li ol{margin-bottom:0}
.md > ol{list-style:decimal;}
.md > dt{font-weight:bold;}
.md > a:link, .md > a:visited{color:#395a8d;text-decoration:none;}
.md > a:hover, .md > a:focus, .md > a:active{color:#2f2f65;text-decoration:underline;}


.brand-font {
	font-family: 'Montserrat', serif;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}




.a-gradient {
    background: #513c7f;
    background: -moz-linear-gradient(left,  #513c7f 0%, #c9437e 100%);
    background: -webkit-linear-gradient(left,  #513c7f 0%,#c9437e 100%);
    background: linear-gradient(to right,  #513c7f 0%,#c9437e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513c7f', endColorstr='#c9437e',GradientType=1 );
}
.a-colour { background: #513c7f !important; }
.a-colour-secondary { background: #c9437e !important; }
.b-gradient {
    background: #66b596;
    background: -moz-linear-gradient(left,  #66b596 0%, #8dc7d3 100%);
    background: -webkit-linear-gradient(left,  #66b596 0%,#8dc7d3 100%);
    background: linear-gradient(to right,  #66b596 0%,#8dc7d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b596', endColorstr='#8dc7d3',GradientType=1 );
}
.b-colour { background: #66b596 !important; }
.b-colour-secondary { background: #8dc7d3 !important; }
.c-gradient {
    background: #d1683b;
    background: -moz-linear-gradient(left,  #d1683b 0%, #c9d355 100%);
    background: -webkit-linear-gradient(left,  #d1683b 0%,#c9d355 100%);
    background: linear-gradient(to right,  #d1683b 0%,#c9d355 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1683b', endColorstr='#c9d355',GradientType=1 );
}
.c-colour { background: #d1683b; }
.c-colour-secondary { background: #c9d355; }
.d-colour {
  background: #06001A !important;
}
.f-gradient {
    background: #3e3377;
    background: -moz-linear-gradient(left,  #3e3377 0%, #8a5195 100%);
    background: -webkit-linear-gradient(left,  #3e3377 0%,#8a5195 100%);
    background: linear-gradient(to right,  #3e3377 0%,#8a5195 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3377', endColorstr='#8a5195',GradientType=1 );
}
.f-colour { background: #3e3377; }
.f-colour-secondary { background: #8a5195; }
.g-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8eca2+0,d4e8dc+100 */
    background: #e8eca2;
    background: -moz-linear-gradient(left,  #e8eca2 0%, #d4e8dc 100%);
    background: -webkit-linear-gradient(left,  #e8eca2 0%,#d4e8dc 100%);
    background: linear-gradient(to right,  #e8eca2 0%,#d4e8dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eca2', endColorstr='#d4e8dc',GradientType=1 );
}
.g-colour { background: #e8eca2; }
.g-colour-secondary { background: #d4e8dc; }
.h-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cd4e45+0,dd7164+100 */
    background: #cd4e45;
    background: -moz-linear-gradient(left,  #cd4e45 0%, #dd7164 100%);
    background: -webkit-linear-gradient(left,  #cd4e45 0%,#dd7164 100%);
    background: linear-gradient(to right,  #cd4e45 0%,#dd7164 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd4e45', endColorstr='#dd7164',GradientType=1 );
}
.h-colour { background: #cd4e45; }
.h-colour-secondary { background: #dd7164; }
