<script>
  export let dashItem;

  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';

  let deploymentsData = [];
	onMount(async () => {
		fetchdeployments();
		setInterval(fetchdeployments, 30000)
	});

	export let fetchdeployments = async function() {
    const apiUrl = dashItem.apiUrl || '';
		let resAPI = await fetch(`${apiUrl}/deployments?username=${dashItem.username}&repo_slug=${dashItem.repo_slug}`);
		deploymentsData = await resAPI.json();

		//clean up data for template:
		deploymentsData.map((deployment)=> {
			if (deployment.state.name === 'COMPLETED'){
				deployment.state.completed_on = new Date(deployment.state.completed_on).toISOString().slice(0,10).replace(/-/g,"-");
			}
			return deployment;
		})
		console.log(deploymentsData);
  };

</script>

{#if deploymentsData && deploymentsData.length > 0}
	<div class="flex flex-wrap" in:fade out:fade>
			{#each deploymentsData as deployment}
        <div class="w-full pb-6 px-3">
        {#if deployment.state.name === 'UNDEPLOYED'}
        <div class="h-gradient p-6 {dashItem.itemCSS}">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-right">
                    <h5 class="text-white">{deployment.environment.category.name} - {deployment.release.name} {deployment.state.name}</h5>
                    <h3 class="text-white text-3xl">{deployment.environment.name}</h3>
                    <h3 class="text-white text-1xl">-</h3>
                </div>
            </div>
        </div>
        {/if}

        {#if deployment.state.name === 'COMPLETED'}
        <div class="b-gradient p-6 {dashItem.itemCSS}">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-right">
                    <h5 class="text-black">{deployment.environment.category.name} - {deployment.release.name} {deployment.state.name}</h5>
                    <h3 class="text-black text-3xl">{deployment.environment.name}</h3>
                    <h3 class="text-black text-1xl">{deployment.state.completed_on}</h3>
                </div>
            </div>
        </div>
        {/if}

        </div>
			{/each}
	</div>
{:else}
  <div class="flex justify-center">
    <div class="lds-hourglass pt-24"></div>
  </div>
{/if}
