<script>
  export let dashItem;
  import LeightonAlert from './../alert/alert.svelte';
</script>

{#if dashItem.html}
  {@html dashItem.html}
{:else}
  <LeightonAlert alertType='error' title='html property missing' content='In the object you passed into the html component, we did not find a html property.' />
{/if}
