<svelte:head>
	<link href="/tailwind.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</svelte:head>

<script>
	import LeightonDashboard from './components/leightonDashboard/leightonDashboard.svelte';
	let configUrl = '/config.json';
</script>

<LeightonDashboard bind:configUrl={configUrl} />
