<script>
  export let dashItem;

  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';

  let pipelinesData;
  let pipelinesDataValues = [];
	onMount(async () => {
		fetchpipelines();
		setInterval(fetchpipelines, 30000)
	});

	export let fetchpipelines = async function() {
    const apiUrl = dashItem.apiUrl || '';
		let resAPI = await fetch(`${apiUrl}/pipelines?username=${dashItem.username}&repo_slug=${dashItem.repo_slug}`);
		pipelinesData = await resAPI.json();
    pipelinesDataValues = pipelinesData.data.values;

    //human readable dates fix
    pipelinesDataValues.map((pipeline)=> {
			if (pipeline.completed_on){
        const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const origDate = pipeline.completed_on;
        const newTime = new Date(origDate).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})
        const newDate = new Date(origDate).toLocaleDateString([], dateOptions)
        pipeline.completed_on = `${newDate} - ${newTime}`;
			}
			return pipeline;
		})


		console.log(pipelinesDataValues);
  };

</script>

{#if pipelinesDataValues && pipelinesDataValues.length > 0}
	<div class="{dashItem.columnCSS}" in:fade out:fade>
			{#each pipelinesDataValues as pipeline}

        {#if pipeline.state.name === 'IN_PROGRESS'}
        <div class="{dashItem.itemCSS} a-gradient border-2 border-white">
            <div class="flex flex-row">
              <div class="w-1/4">
                <div class="lds-hourglass pt-2"></div>
              </div>
                <div class="w-3/4 text-right">
                  <h3 class="text-white text-2xl">RUNNING</h3>
                  <h5 class="text-white italic mt-2"><strong>{pipeline.duration_in_seconds}</strong> seconds so far...</h5>
                  {#if pipeline.target.pullrequest}<p class="text-white"><strong>{pipeline.target.source}</strong></p>{/if}
                  <p class="text-white">{pipeline.trigger.name}{#if pipeline.creator}: <strong>{pipeline.creator.display_name}</strong>{/if}</p>
                </div>
            </div>
        </div>
        {/if}

        {#if pipeline.state.result}
        {#if pipeline.state.result.name === 'FAILED'}
        <div class="{dashItem.itemCSS} h-gradient">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-right">
                  {#if pipeline.target.ref_name}<h5 class="text-white">Target: <strong>{pipeline.target.ref_name}</strong></h5>{/if}
                  <h3 class="text-white text-2xl">{pipeline.state.result.name}</h3>
                  <h5 class="text-white italic mt-2"><strong>{pipeline.duration_in_seconds}</strong> seconds on {pipeline.completed_on}</h5>
                  {#if pipeline.target.pullrequest}<p class="text-white"><strong>{pipeline.target.source}</strong></p>{/if}
                  <p class="text-white">{pipeline.trigger.name}{#if pipeline.creator}: <strong>{pipeline.creator.display_name}</strong>{/if}</p>
                </div>
            </div>
        </div>
        {/if}

        {#if pipeline.state.result.name === 'SUCCESSFUL'}
        <div class="{dashItem.itemCSS} b-gradient">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-right">
                  {#if pipeline.target.ref_name}<h5 class="text-black">Target: <strong>{pipeline.target.ref_name}</strong></h5>{/if}
                  <h3 class="text-black text-2xl">{pipeline.state.result.name}</h3>
                  <h5 class="text-black italic mt-2"><strong>{pipeline.duration_in_seconds}</strong> seconds on {pipeline.completed_on}</h5>
                  {#if pipeline.target.pullrequest}<p><strong>{pipeline.target.source}</strong></p>{/if}
                  <p>{pipeline.trigger.name}{#if pipeline.creator}: <strong>{pipeline.creator.display_name}</strong>{/if}</p>
                </div>
            </div>
        </div>
        {/if}
        {/if}

			{/each}
	</div>
{:else}
  <div class="flex justify-center">
    <div class="lds-hourglass pt-24"></div>
  </div>
{/if}
